.vertical-menu{
    width: 200px;
    height: 100%;
    background-color:#EDEDED;
    overflow-y: auto;
    margin-right: 2px;
}

.vertical-menu ul {
    padding:5px;
    max-width: 100%;
    list-style:none;
}

.vertical-menu h2 {
    margin: 5px;
}

.vertical-menu a{
    padding: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    display: flex;
    background-color:#FFFFFF;
    color: #777777;
    text-decoration: none;
    border-right:3px solid #FFFFFF;
}

.vertical-menu a:hover{
    color: #000000;
    border-right:3px solid #F16529;
}