/*CSS is here*/

img{
	border: solid red; 
	cursor: not-allowed; 
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
body{
	background-color: powderblue; 
	font-family: cursive;
}
h1{
	color: brown; 
	text-decoration: underline;
	text-align: center;

}
h2{
	text-shadow: 1px 0 10px;
}

p{
	color: brown; text-indent: 50px;
}

#title{
	font-size: 40px;
	color: black;
}
